* {margin:0;padding:0}


/* HIDE PRINT ELEMENTS */

.print-element {
display:none;
}


/* UNIVERSAL */

body {
background-color:#fff;
color:#505050;
font:0.8em Arial,Verdana, sans-serif;
line-height:1.5;
}
p {
padding:0 0 1em 0;
}


/* HEADERS */

h1,h2,h3,h4,h5 {
font-weight:normal;
padding-bottom:0.7em;
}
h2 {
color:#2a78ac;
font-size:2em;
}
body#default h2 {
font-size:1.4em;
font-weight:bold;
}
h2 span {
color:#505050;
font-weight:normal;
}
div.box-list h3 {
color:#505050 !important;
font-size:1.25em !important;
font-weight:normal !important;
padding:0.1em 0 0.7em 0 !important;
}
div.double-col h3 {
font-size:1.5em;
font-weight:normal;
color:#927d2f;
padding:0 0 0.5em 0;
}


/* ANCHORS */

a:link {
color:#2A78AC;
}

/* VISTED color:#A87E2C; */

a:visited {
color:#2A78AC;
}
a:hover {
color:#AE3B26;
}
a:active {
color:#2A78AC;
}
a img {
border:0;
}


/* COLOURS */

.blue {
color:#2A78AC;
}

/* INTRO FORMATTING */

#intro h2 {
padding:33px 0 7px 0;
}
#intro p {
padding-bottom:70px;
padding-right:13px;
}
#intro img.section {
float:right;
margin:35px 35px 0 0;
}

/* HOME PAGE INTRO */

#flashcontent {
float:right;
width:310px;
height:211px;
background:url(/images/7.jpg) no-repeat bottom right;
}
#flashcontent img {
display:block;
}

/* SUBSECTION INTRO */

#internal #intro h2 {
padding:24px 0 7px 0;
}
#internal #intro p {
padding-bottom:1em;
color:#505050;
}
#internal #intro img.section {
float:right;
margin:15px 0 0 0;
}


/* DEFAULT LISTS */

li {
list-style-type:none;
background:url(/images/8.gif) no-repeat 3px 7px;
margin:0;
padding:0 0 0 14px;
}
li p {
padding-bottom:0;
}

/* PAGE, NEWS & EVENT LISTS */

ul.graphic li {
background-image:none;
position:relative;
padding:0 0 0 49px;
margin:0 0 13px 0;
}
ul.graphic li a img {
border-width:1px;
border-style:solid;
border-color:#2a78ac
}
ul.graphic li img {
position:absolute;
top:3px;
left:0;
}
#internal ul.graphic li {
padding:0 0 0 53px;
margin:0 0 13px 0;
}
ul.icon-doc li {
background:url(/images/9.gif) no-repeat 1px 5px;
}
ul.graphic li.default,ul.icon-doc li.default {
background:url(/images/8.gif) no-repeat 3px 6px;
}
ul.graphic li.default {
padding:0 0 0 15px;
margin:0 0 0 35px;
}
ul.graphic ul.subgraphic {
margin:0.25em 0 1.5em 0;
}
ul.graphic ul.subgraphic li {
background:url(/images/8.gif) no-repeat 3px 6px;
padding:0 0 2px 15px;
margin:0 0 0 2px;
}

/* BOX-LIST LISTS */

.box-list li {
list-style-type:none;
line-height:1.4;
}
.box-list li em {
font-weight:bold;
}
.box-list ul.graphic li,.box-list ul.icon-doc li {
margin-bottom:0.8em;
}

/* SIMPLEPIE LISTS */

#internal div.simplepie ol {
list-style-type:none;
margin-bottom:1.5em;
}
#internal div.simplepie ol li {
list-style-type:none;
margin:0 0 0.5em 0;
padding:0 0 0 19px;
background:url(/images/8.gif) no-repeat 3px 6px;
}
#internal div.simplepie ol li a {
font-weight:normal;
}
#internal div.simplepie ol li span.date {
font-weight:normal;
color:#505050;
padding-left:0.3em;
font-style:italic;
}


/* INTERNAL CONTENT GENERAL FORMATTING */

#internal p, #internal li, 
#internal td, #internal th, #internal caption,
#internal blockquote, #internal dl,
#internal label, #internal input,
#internal legend, #internal select  {
color:#202020;
}
#internal blockquote {
background:url(/images/15.jpg) repeat-x;
padding:18px 24px 13px 24px;
font-family:georgia,'times new roman',times,serif;
font-style:italic;
line-height:175%;
color:#000;
margin:0.75em 0 0 0;
}
#internal p.source {
text-align:right;
margin:-0.5em 0 1em 0;
}
#internal cite {
font-family:arial;
font-size:0.85em;
font-style:normal;
color:#303030;
}
#internal .caps {
text-transform:lowercase;
font-variant:small-caps;
}
#internal h2 .caps,
#internal h3 .caps,
#internal h4 .caps {
text-transform:none;
font-variant:normal;
}

/* INTERNAL CONTENT HEADERS */

#internal h3, #internal h4, #internal h5 {
font-weight:bold;
color:#927d2f;
padding:1em 0;
}
#internal h3 {
font-weight:normal;
font-size:1.5em;
}
#internal h4 {
font-size:1.2em;
padding:0.5em 0 0.75em 0;
color:#2a78ac;
}
#internal h5 {
font-size:1em;
color:#000;
}

/* LISTS */

#internal ul, #internal ol {
margin:0 0 1em 0;
}
#internal li {
margin:0 0 0.25em 0;
padding:0 0 0 19px;
}
#internal ul ul, #internal ol ol,
#internal ul ol, #internal ol ul {
margin:1em 0 1em 0;
}
#internal ol li {
background-image:none;
list-style-type:decimal;
padding:0;
margin-left:1.5em;
}
#internal ol ol {
margin-top:0.75em;
}
#internal ol ol li {
list-style-type:lower-roman;
}

/* DEFINITION LISTS - TABLE DISPLAY */

dl.table-display, dl.table-display-wide {
clear:left;
margin:0 0 1em 0;
}
.table-display dt, .table-display-wide dt,
.table-display dd, .table-display-wide dd {
border-top:1px solid #bbb;
padding:5px;
}
.table-display dt, .table-display-wide dt {
width:120px;
float:left;
font-weight:bold;
}
.table-display-wide dt {
width:200px;
}
.table-display dd {
width:360px;
margin-left:127px;
}
.table-display-wide dd {
width:307px;
margin-left:200px;
}

/* TABLES */

table.data, table.grid {
margin:1em 0 1.25em 0;
width:100%;
border-collapse: collapse;
clear:left;
}
#internal table.data caption {
font-weight:normal;
color:#927d2f;
padding:1em 0 0.25em 0;
text-align:left;
font-style:normal;
font-size:1.5em;
}
.data td, .data th,
.grid td, .grid th {
text-align:left;
vertical-align:top;
padding:5px 10px;
}
.data thead th, .data tbody th,
.grid thead th, .grid tbody th {
background-color:#ede7a9;
}
.data thead th a {
color:#000;
text-decoration:none;
}
tr.stripe td {
background-color:#e5ecf0
}

th.sortableJS
{
	background-image: url(/js/images/arrow-down.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

th.sortedDescending
{
	background-image: url(/js/images/arrow-down-black.gif);
}

th.sortedAscending
{
	background-image: url(/js/images/arrow-up-black.gif);
}

th.sortableJS a
{
	display: block;
	color: #000000 !important;
}


/* TABLE OVER-RIDES */

table.grid {
border-left:1px solid #999;
border-bottom:1px solid #999;
}
table.grid td {
border-top:1px solid #999;
border-right:1px solid #999;
text-align:center;
}
table.az tbody td {
width:50% !important;
}
table.councillors tbody td {
vertical-align:middle !important;
}
table.councillors tbody td:first-child {
width:110px !important;
}



/* FORMS */

#internal form div {
background:#fff url(/images/5.jpg) repeat-x;
}
#internal fieldset {
border:none;
padding:0 0 13px 0;
}
#internal legend {
font-weight:bold;
padding:7px 0 10px 10px;
}
#internal label,#internal input,#internal textarea {
display: block;
width: 300px;
float: left;
margin-bottom: 1em;
}
#internal input.submit {
width:auto;
margin:10px 0 0 120px;
}
#internal label {
width: 90px;
padding: 0 20px  0 10px;
}
#internal form br {
clear: left;
}

#internal form#email_list input {
width:250px;
}
#internal form#email_list input#subscribe,
#internal form#email_list input#u,
#internal form#email_list input.hidden,
#internal form#email_list input.submit,
#internal form#email_list label {
width:auto;
}
#internal form#email_list input.submit {
margin:0 0 0 3px;
}


#internal form#search_form input {
width:200px;
margin-right:2px;
}
#internal form#search_form input.button {
width:7.5em;
}

#internal div#google-search-box input {
display:none;
}
#internal div#google-search-box input.google-input {
width:200px;
margin-right:2px;
display: block;
float: left;
}
#internal div#google-search-box input.button {
display:inline;
width:7.5em;
}


/* IFRAMES */

iframe {
border-width:0;
background-color:transparent;
width:450px;
margin:-30px 20px 0 52px;
padding:6px 0 0 0;
background:#fff url(/images/5.jpg) repeat-x;
float:left;
}

/* ARTICLE LISTS: NEWS ITEMS, SEARCH RESULTS */

div.news_list_item, div.search_result {
margin:0 0 1.75em 0;
}
div.news_list_item p, div.search_result p {
padding:0;
}


/* ARTICLE NAV */

p.article-nav {
margin-top:2.5em;
}
p.article-nav a {
margin-right:1.5em;
}
p.article-nav span.zem_pages a {
margin-right:0.5em;
}
p.article-nav span.zem_pages {
margin-right:1em;
}
p.article-nav span.zem_pages a.active {
text-decoration:none;
color:#000;
}


/* GENERAL FLOATS */

.float-l {
float:left;
margin:0 1em 0.25em 0;
}
.float-r {
float:right;
margin:0 0 0.25em 1em;
}

/* IMAGE HANDLING */

.photo-frame {
border:1px solid #bbb;
padding:5px;
}

.image-right {
float:right;
margin:0 0 5px 13px;
}
.image-left {
float:left;
margin:0 13px 5px 0;
}

div.image-caption img,
div.image-caption-right img,
div.image-caption-left img {
padding:0 0 0.5em 0;
}
div.image-caption-right {
float:right;
margin:0 0 5px 13px;
}
div.image-caption-left {
float:left;
margin:0 13px 5px 0;
}

p.caption {
font-size:90%;
color:#505050 !important;
font-style:italic;
line-height:1.3em;
}


/* ARCHIVE CALENDAR-STYLE */

div.archive-cal-div {
text-align:center;
float:left;
line-height:1.25em;
letter-spacing:0.05em;
width:4em;
padding:0.5em 0;
margin:5px 9px 5px 0;
background-color:#ede7a9;
border-bottom:1px solid #555;
border-right:1px solid #555;
}
div.archive-cal-div a {
color:#000;
text-decoration:none;
}
div.archive-cal-div a:hover {
text-decoration:underline;
color:#AE3B26;
}



/* AD BLOCK STYLING */

.ad-block p {
padding-bottom:0;
}
img.ad-whale {
margin:0 0 0.5em 0;
}


/* FILES SPECIFIC */

small.file_download_size {
padding-left:0.25em;
color:#505050;
}