/* EVENT SPECIFIC */

div.event-cat-info {
margin:-1em 0 2em 0;
}

.zem_event_time, .zem_event_finish_time {
text-transform:lowercase;
}



/* DEFINITION LISTS - EVENT TABLE DISPLAY */

dl.table-event-display {
margin:0 0 1em 0;
}
.table-event-display dt,
.table-event-display dd {
border-top:1px solid #bbb;
padding:5px 0;
}
.table-event-display dt {
width:80px;
float:left;
font-weight:bold;
}
.table-event-display dd {
width:467px;
margin-left:80px;
}



/* EVENTS CALENDAR */

div.widest-col h3.zem_event_calendar_nav {
display:none;
}
div.widest-col a.next,
div.widest-col a.prev {
font-size:2em;
text-decoration:none;
position:absolute;
}
div.widest-col a.next {
right:52px;
}
div.widest-col a.prev {
left:52px;
}

table.zem_event_calendar {
}
table.zem_event_calendar caption {
color:#505050;
font-size:2em;
margin:0 0 0.5em 0 
}
table.zem_event_calendar th {
}
tr.number td {
font-weight:bold;
background-color:#e5ecf0;
}
tr.day td {
}
table.zem_event_calendar {
border-top:1px solid #505050;
border-left:1px solid #505050;
}
table.zem_event_calendar th,
table.zem_event_calendar td {
border-bottom:1px solid #505050;
border-right:1px solid #505050;
width:14.28%;
}
table.zem_event_calendar tr.number td.empty,
table.zem_event_calendar tr.day td {
background-color:#fff;
}

/* EVENTS CALENDAR - MINICAL */

div.side-col h3.zem_event_calendar_nav {
display:none;
}
div.side-col a.next,
div.side-col a.prev {
font-size:1em;
text-decoration:none;
position:absolute;
}
div.side-col a.next {
right:58px;
}

table.minical {
margin:0.5em 0 0.5em 0;
width:100%;
border-collapse: collapse;
border-top:1px solid #999;
border-left:1px solid #999;
}
table.minical td, table.minical th {
text-align:center;
vertical-align:top;
font-size:0.8em;
padding:3px 0;
border-bottom:1px solid #999;
border-right:1px solid #999;
width:14.28%;
}
table.minical thead th {
background-color:#ede7a9;
}
table.minical caption {
color:#2a78ac;
font-size:1.25em;
font-weight:bold;
color:#505050;
}

div.minical-meta {
font-size:0.8em;
margin:0 0 3em 0;
}
div.minical-meta a {
margin-right:0.5em;
}


/* CALENDAR SEARCH FORM */

ul.zem_event_search_input li  {
padding:0 0 0.5em 0;
margin:0;
background:none;
}
.zem_event_search_input fieldset {
border:0;
}
.zem_event_search_input fieldset {
margin:0.75em 0 0 0;
}
.zem_event_search_input fieldset#location {
margin-bottom:1.25em;
}
.zem_event_search_input legend {
font-weight:bold;
margin:0 0 0.5em 0;
}
.zem_event_search_input label {
font-weight:bold;
}
.zem_event_search_input fieldset#category label, 
.zem_event_search_input fieldset#location label {
font-weight:normal;
}



/* EVENTS ON STATIC PAGES */

#internal .zem_event-inline {
margin-bottom:0.5em;
}
#internal .zem_event-inline h4.zem_event_name {
padding-bottom:0;
color:#2a78ac;
}
.event-inline-img {
border-width:1px;
border-style:solid;
border-color:#2a78ac;
float:left;
margin:0.6em 0.75em 0 0;
}
#internal .zem_event-inline p.zem_event_date {
font-style:italic;
font-weight:bold;
}



/* EMPLOYMENT SPECIFIC */

#internal div#employment {
float:left;
margin:1em 0 1.75em 0;
border-bottom:1px solid #a7b3bf;
}
#internal div.box-employment {
background:#fff url(/images/5.jpg) repeat-x;
padding:0 0 1.25em 0;
margin:0 0 0 0;
clear:left;
}
#internal div.box-employment h3 {
padding:0.5em 0;
font-size:2.1em;
}
#internal div.box-employment h4 {
font-size:1.1em;
padding:0.5em 0 0.4em 0;
color:#927d2f;
}
#internal div.box-employment p {
padding-bottom:0.75em;
}
#internal div.box-employment ul {
margin-top:0;
}
