#header {
text-align:right;
}
#header img {
position:absolute;
top:27px;
left:19px;
}
#header ul {
padding:5px 19px 0 0;
list-style:none;
line-height:1;
}
#header li, #header input {
font-size:0.9em;
}
#header li {
display: inline;
list-style-type: none;
padding:0 0 0 8px;
background:none;
}
#header form {
display: inline;
}
#header input {
padding:2px;
}
#header input.button {
margin-left:2px;
}

#footer {
font-size:0.9em;
text-align:right;
background:#fff url(/images/5.jpg) repeat-x;
}
#footer ul {
padding:21px 0 3px 0;
list-style:none;
line-height:1;
}
#footer li {
display: inline;
list-style-type: none;
padding:0 0 0 8px;
background:none;
}
