#body {
text-align:center;
}
#header {
height:92px;
position:relative;
background:url(/images/10.jpg) repeat-x;
}
#navbar {
background-color:#2A78AC;
color:#fff;
}
#wrapper {
background:url(/images/11.jpg) repeat-x;
}
#intro {
width:699px;
float:left;
margin:0 22px 0 52px;
}
#internal #intro {
width:100%;
margin:0;
}
#content {
clear:both;
margin:0 0 30px 0;
}
#internal {
width:507px;
float:left;
margin:15px 0 0 27px;
}
#footer {
clear:both;
width:726px;
margin:0 22px;
}
.container {
width:770px;
margin:0 auto;
position:relative;
}
#wrapper .container {
background:url(/images/4.jpg) repeat-x;
}




/* EVENTS LAYOUT */

.wide-col {
float:left;
margin:33px 25px 0 52px;
width:552px;
}
.side-col {
float:left;
margin-top:33px;
width:220px;
}
.widest-col {
float:left;
margin:33px 0 0 52px;
width:800px;
}





/* A GENERIC COLUMN, ON 800PX OPTIMISED LAYOUT */

.col,.wider-col,.double-col {
float:left;
width:190px;
}
.wider-col {
width:240px;
}

/* SPECIFIC TO SECTION PAGES */

.double-col {
width:450px;
margin:-30px 20px 0 52px;
padding:6px 0 0 0;
background:#fff url(/images/5.jpg) repeat-x;
}
.double-col-wrap {
padding:0.75em 0.75em 0 1.25em;
}
.double-col .col {
width:200px;
}

/* SPECIFIC TO SUBSECTION PAGES */

.subsection-col {
float:left;
margin-top:1em;
}
#internal .col {
float:right;
margin-top:7px;
margin-left:1.5em;
}

/* HOME PAGE COLUMNS */

.home-1 {
margin-top:-46px;
margin-left:52px;
}
.home-2 {
margin:-23px 20px 0 20px;
}

/* BOX-LIST COLUMNS */

.box-list {
background:#fff url(/images/5.jpg) repeat-x;
padding:0.75em 0.75em 0 1.25em;
margin: 0 0 3em 0;
}
.ad-block {
background:#fff url(/images/103.gif) repeat-x;
}
.double-col .box-list {
background-image:none;
}
.box-list h3 strong {
color:#927D2F;
}


/* NUDGE */

.nudge20r {
margin:0 20px 0 0
}
.nudge40r {
margin:0 40px 0 0
}
.nudge1emr {
margin-right:1em;
}
.nudge20l {
margin:0 0 0 20px
}
.nudge40l {
margin:0 0 0 40px
}
.nudge10t {
margin-top:10px
}