#navbar .container:after {
content:""; 
display:block; 
height:0; 
clear:both;
}
#navbar .container {
height:100%;
}

ul#nav {
margin:0 0 0 19px;
border-top:4px solid #2a78ac;
list-style: none;
font-family: arial, helvetica, sans-serif;
font-size:0.9em;
color: #fff;
}
ul#nav li {
display:inline;
position: relative;
z-index: 1000;
float: left;
background-image:none;
padding:0;
margin:0;
}
ul#nav li a {
display:block;
float:left;
width:auto;
padding:4px 7px;
text-decoration: none;
color: #fff;
}

ul#nav li.subMenu a
{
	background-image: url(/js/images/arrow-right.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

ul#nav li.subMenu li a
{
	background-image: none;
}

ul#nav .active, 
ul#nav li a.active:hover {
background-color:#e1d066;
color:#000;
}
ul#nav li a:hover, ul#nav li.hover a {
background-color:#ece19c;
color:#000;
}

/* NESTED LIST STYLES */

ul#nav ul
{
	position: absolute;
	left: -9999px;
	top: -9999px;
	z-index: 1000;
	list-style: none;
}

ul#nav ul ul
{
	margin-left: 14px;
}

ul#nav li.hover ul
{
	left: 0;
	top: 0;
}

ul#nav li.hover ul ul
{
	left: -9999px;
	top: -9999px;
}

ul#nav li ul li.hover ul
{
	left: 13em;
	top: 0;
}

ul#nav ul li
{
	clear: left;
}

ul#nav ul li a, 
ul#nav ul ul li a {
width:13em; /* guess! long titles to wrap to two lines? */
background-color:#ece19c;
color:#000;
border-top:1px solid #fff;
}
ul#nav ul ul li a {
background-color:#e1d066 !important;
}

ul#nav ul li a:hover, ul#nav ul li.hover a {
background-color:#e1d066;
}
ul#nav ul ul li a:hover {
background-color:#ece19c !important;
}




/* SIDEBAR ON SUBSECTION, CONTENT PAGES */

#sidebar {
width:170px;
background:url(/images/15.jpg) repeat-x;
float:left;
margin:15px 0 0 19px;
}
#sidebar h3 {
font-size:1.3em;
color:#927d2f;
font-weight:bold;
margin-top:30px;
}
#sidebar h3 span {
font-weight:normal;
color:#505050;
}
#sidebar h3 a {
color:#927d2f;
font-weight:bold;
text-decoration:none;
}
#sidebar h3 a:hover {
color:#AE3B26;
}
#sidebar h3, #sidebar ul {
padding-left:15px;
padding-right:3px;
font-weight:bold;
}
#sidebar ul ul {
padding-left:0;
margin:0.5em 0 0.75em 0;
}
#sidebar a {
font-weight:normal;
}

#sidebar ul.site_nav li {
line-height:125%;
margin-bottom:0.5em;
}